<div class="portfolio-title">
	<div class="row text-center">
	<h1>Website Portfolio Gallery</h1>
	</div>
</div>
<div class="portfolio-gallery">
	<div class="row">
		<div class="col-md-4 image-box"> 
			<div class="image-cell">
				<%= image_tag "roberson-rails-thumbnail.jpg" %>
			</div>
			<div class="image-title">
				<p>test one</p>
			</div>
		</div>
		<div class="col-md-4 image-box hide"> 
			<div class="image-cell">
				<%= image_tag "roberson-rails-thumbnail.jpg" %>
			</div>
			<div class="image-title">
				<p>test one</p>
			</div>
		</div>
		<div class="col-md-4 image-box hide"> 
			<div class="image-cell">
				<%= image_tag "roberson-rails-thumbnail.jpg" %>
			</div>
			<div class="image-title">
				<p>test one</p>
			</div>
		</div>
	</div>
	<div class="row hide">
		<div class="col-md-4 image-box"> 
			<div class="image-cell">
				<%= image_tag "roberson-rails-thumbnail.jpg" %>
			</div>
			<div class="image-title">
				<p>test one</p>
			</div>
		</div>
		<div class="col-md-4 image-box"> 
			<div class="image-cell">
				<%= image_tag "roberson-rails-thumbnail.jpg" %>
			</div>
			<div class="image-title">
				<p>test one</p>
			</div>
		</div>
		<div class="col-md-4 image-box"> 
			<div class="image-cell">
				<%= image_tag "roberson-rails-thumbnail.jpg" %>
			</div>
			<div class="image-title">
				<p>test one</p>
			</div>
		</div>
	</div>	
</div>
